/* TODO 用 scss 或 windicss */
/* span 的外面要包一層 class, 用 scss 會比較好寫  */
span {
  margin: 0px 5px;
}
span.normal {
  color: gray;
}
span.pass {
  color: green;
}
span.wrong {
  color: red;
}
span.typing {
  color: black;
}
span.typing.good {
  background: #64f15a;
}
span.typing.bad {
  background: #e92326;
}

.reset-button {
  margin-left: 3px;
}
