span.normal {
  color: gray;
}
span.pass {
  color: green;
}
span.wrong {
  color: red;
}
span.typing {
  color: black;
}
span.typing.good {
  background: #64f15a;
}
span.typing.warning {
  background: #84431f;
}
